@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;}

.top{
	height:80px;
	border-bottom:2px solid rgb(224,224,224);
	}

.top_content{
	width:1000px;
	height:80px;
	margin:0 auto;}

.top_content a img{
	display:inline-block;
	margin:18px 0;
	float:left;}

.top_content img{
	display:inline-block;
	float:right;
    margin:30px;
	}

.main{

	width:1000px;
	margin:0 auto;
	}
	
.main_content{
	height:360px;
	background-color:rgb(249,249,249);
	margin-top:30px;
	}
	
	
.main_content_left{
	float:left;
	font:10px "宋体";
	width:350px;
	height:300px;
	border-right:1px solid rgb(217,217,217);
	margin-top:30px;
	}	

	
.main_content_left p{
	margin-left:103px;}
	
.main_content_left a{
	display:inline-block;
	margin:20px 97px 0 97px;}
	
	
.main_content_left span{
	display:inline-block;
	margin:20px 0 0 112px;}
	
	
.main_content_left .main_btn{
	text-decoration:none;
	margin:0;
	color:rgb(0,120,182);}

.main_content_left .main_btn:hover{
	text-decoration:underline;
	}

.main_content_right{
	float:left;
/*	width:550px;*/
	height:300px;
	margin:30px 0 0 120px;}

.main_content_right div{
	margin-top:20px;
	height:37px;
	line-height:37px;
/*  position:relative;*/
	width:500px;
	}
	
.main_content_right input{
	border:1px solid rgb(221,221,221);
	outline:none;
	height:33px;
	width:170px;
	float:left;
	line-height:33px;
	margin-right:15px;
	font-size:18px;}
	
.main_content_right .phone_number{
	width:297px;}
	
.main_content_right div img{
	display:inline-block;
/*	position:absolute;
	float:left;*/
	margin-top:6px;}
	
.main_content_right button img{
	margin:0;}


input[type=text]:focus,input[type=tel]:focus {
    border: 1px solid rgb(135,190,68);
}

.main_content_right button{
/*	position:absolute;
	display:inline-block;
	float:left;*/
	margin-top:6px;
	background-color:rgb(249,249,249);
	cursor:pointer;
	border:none;}
	
.main_content_right .login{
	margin-top:30px;
	background-color:rgb(133,201,38);
	width:68px;
	height:30px;
	border:none;
	font:"微软雅黑";
	color:#fff;
	}

.main_content_right a{
	color:rgb(131,203,1);
	display:inline-block;
	border:1px solid rgb(131,203,1);
	width:108px;
	text-decoration:none;
	text-align:center;
	line-height:33px;
	height:33px;}
	
.main_content_right a:hover{
	text-decoration:underline;
    }
	
.main_content_right span{
	font:26px "微软雅黑";
	color:rgb(51,51,51);}
	

label.error {
	float:left;
	margin-right:10px;
	color:red;
	}
	

footer{
	width:100%;
	margin:70px 0 30px 0;
	border-top: 1px #999999 solid; 
	float:left;}
	
	
footer ul{
    margin-top:-30px;
	list-style-type:none;
    margin-left:170px;
	}

footer li{
	font-size:12px;
	width:75px;
	line-height:24px;
    float:left;}
	
	
footer p{
	color:rgb(153,153,153);
	line-height:25px;
	font-size:12px;
	text-align:center;
}



footer a{
	color:rgb(0,120,182);
	text-decoration:none;}
	
footer a:hover,footer a:active{
	text-decoration:underline;}